# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

RECAPTCHA_SECRET=6LdVYIwUAAAAAOSpI8pfKEO5tdF2oMwyzJpd9ft2

MAIL_TRANSPORT=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_USERNAME=**************
MAIL_PASSWORD=**************
MAIL_PORT=2525
MAIL_AUTH=cram-md5

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=cf26c05ed93e442306b6a20680dae25f
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
#DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
#DATABASE_URL=mysql://homestead:secret@127.0.0.1:33060/blog-symfony
#DATABASE_URL=mysql://geekhub_user:0983267431@127.0.0.1:33060/blog-symfony
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=blog-symfony
DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> nelmio/cors-bundle ###  ^https?://localhost(:[0-9]+)?$
#CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=cb84c21a3809edbb805f6d66298c4e87
###< lexik/jwt-authentication-bundle ###

###> hwi/oauth-bundle ###
FB_ID=
FB_SECRET=
###< hwi/oauth-bundle ###

###> algolia/search-bundle ###
ALGOLIA_APP_ID=FYDKVZS0P8
ALGOLIA_API_KEY=41e0411d28d02a46019ff1aaa9ac38af
ALGOLIA_INDEX_PREFIX=dev # Prefix for index names
###< algolia/search-bundle ###

