<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
;
return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setCacheFile(__DIR__ . '/.php_cs.cache')
    /*
    ->setRiskyAllowed(true)
    '@Symfony:risky' => true,
    '@PHP70Migration:risky' => true,
    '@PHP71Migration:risky' => true,
    */
    ->setRules([
        '@Symfony' => true,
        '@PHP56Migration' => true,
        '@PHP70Migration' => true,
        '@PHP71Migration' => true,

        'combine_consecutive_unsets' => true,
        'array_syntax' => [
            'syntax' => 'short'
        ],
        'list_syntax' => [
            'syntax' => 'short'
        ],
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'concat_space' => ['spacing' => 'one'],
        'psr4' => true,
        'strict_comparison' => true,
        'strict_param' => true,
        'phpdoc_align' => false,
        'phpdoc_order' => true,
        'phpdoc_separation' => false,
        'phpdoc_to_comment' => false,
        'phpdoc_add_missing_param_annotation' => [
            'only_untyped' => false
        ],
        'modernize_types_casting' => true,
        'no_php4_constructor' => true,
        'php_unit_construct' => true,
        'php_unit_strict' => true,
        'semicolon_after_instruction' => true,
        'doctrine_annotation_braces' => [
            'syntax' => 'with_braces'
        ],
        'doctrine_annotation_indentation' => true,
        'doctrine_annotation_spaces' => true,
        'declare_strict_types' => false,
        'phpdoc_types_order' => [
            'null_adjustment' => 'always_last'
        ],
        'void_return' => false,
        'pre_increment' => false,
        'yoda_style' => false,

        /* это я ставил */

        // это правило не отлючается походу, продолжает ставить заяпятые
        'trailing_comma_in_multiline_array' => false,
        // странное правило, в наглую заменяет все инкременты на pre форму, может так и код сломать.
        'increment_style' => false,
        'no_superfluous_elseif' => true
    ])
;
